/* Gutenberg blocks */
.wp-block.block-editor-block-list__block {
  /* Button/Inputs */
  /* Select2 Style */
  /* Range Slider */
  /* --- Posts and pages --- */
  /* --- Comments --- */
  /* --- Widgets --- */
  /* Select2 Default */
  /* Select2 Results */
  /* Select2 Category Icon */
  /* Theme Dropdown */
}

.wp-block.block-editor-block-list__block html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.wp-block.block-editor-block-list__block body {
  background: var(--color-white);
  /* Fallback for when there is no custom background color defined. */
  color: var(--color-body);
}

.wp-block.block-editor-block-list__block h1,
.wp-block.block-editor-block-list__block h2,
.wp-block.block-editor-block-list__block h3,
.wp-block.block-editor-block-list__block h4,
.wp-block.block-editor-block-list__block h5,
.wp-block.block-editor-block-list__block h6 {
  font-weight: 600;
  color: var(--color-dark);
}

.wp-block.block-editor-block-list__block h1 {
  font-size: calc(1.0875rem + 1.05vw);
}

@media (min-width: 1200px) {
  .wp-block.block-editor-block-list__block h1 {
    font-size: 1.875rem;
  }
}

.wp-block.block-editor-block-list__block h2 {
  font-size: calc(1.05rem + 0.6vw);
}

@media (min-width: 1200px) {
  .wp-block.block-editor-block-list__block h2 {
    font-size: 1.5rem;
  }
}

.wp-block.block-editor-block-list__block h3 {
  font-size: calc(1.0375rem + 0.45vw);
}

@media (min-width: 1200px) {
  .wp-block.block-editor-block-list__block h3 {
    font-size: 1.375rem;
  }
}

.wp-block.block-editor-block-list__block h4 {
  font-size: calc(1.025rem + 0.3vw);
}

@media (min-width: 1200px) {
  .wp-block.block-editor-block-list__block h4 {
    font-size: 1.25rem;
  }
}

.wp-block.block-editor-block-list__block h5 {
  font-size: calc(1.0125rem + 0.15vw);
}

@media (min-width: 1200px) {
  .wp-block.block-editor-block-list__block h5 {
    font-size: 1.125rem;
  }
}

.wp-block.block-editor-block-list__block h6 {
  font-size: 16px;
}

.wp-block.block-editor-block-list__block button::-moz-focus-inner,
.wp-block.block-editor-block-list__block input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.wp-block.block-editor-block-list__block input[type="checkbox"],
.wp-block.block-editor-block-list__block input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.wp-block.block-editor-block-list__block input[type="number"]::-webkit-inner-adjust-hue-button,
.wp-block.block-editor-block-list__block input[type="number"]::-webkit-outer-adjust-hue-button {
  height: auto;
}

.wp-block.block-editor-block-list__block input[type="search"]::-webkit-search-cancel-button,
.wp-block.block-editor-block-list__block input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.wp-block.block-editor-block-list__block button,
.wp-block.block-editor-block-list__block input,
.wp-block.block-editor-block-list__block optgroup,
.wp-block.block-editor-block-list__block select,
.wp-block.block-editor-block-list__block textarea {
  margin: 0;
}

.wp-block.block-editor-block-list__block button {
  overflow: visible;
}

.wp-block.block-editor-block-list__block button,
.wp-block.block-editor-block-list__block select {
  text-transform: none;
}

.wp-block.block-editor-block-list__block button,
.wp-block.block-editor-block-list__block html input[type="button"],
.wp-block.block-editor-block-list__block input[type="reset"],
.wp-block.block-editor-block-list__block input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.wp-block.block-editor-block-list__block button[disabled],
.wp-block.block-editor-block-list__block html input[disabled] {
  cursor: default;
}

.wp-block.block-editor-block-list__block textarea {
  width: 100%;
}

.wp-block.block-editor-block-list__block a {
  color: var(--color-primary);
  word-break: break-word;
}

.wp-block.block-editor-block-list__block a:hover {
  color: #b90939;
}

.wp-block.block-editor-block-list__block button,
.wp-block.block-editor-block-list__block input,
.wp-block.block-editor-block-list__block select,
.wp-block.block-editor-block-list__block textarea {
  color: var(--color-body);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.wp-block.block-editor-block-list__block select {
  background-color: var(--color-white);
  border: 1px solid #ccc;
}

.wp-block.block-editor-block-list__block .directorist-select .directorist-select__label {
  min-height: 46px;
  border-color: var(--color-border-gray);
}

.wp-block.block-editor-block-list__block .directorist-select .select2-container.select2-container--default .select2-selection--single {
  border-color: var(--color-border-gray) !important;
}

.wp-block.block-editor-block-list__block .directorist-range-slider-wrap .atbd-slide1 {
  width: 20px;
  height: 20px;
  border-color: var(--color-primary) !important;
}

.wp-block.block-editor-block-list__block .directorist-range-slider-wrap #atbdp-range-slider {
  background-color: rgba(255, 56, 92, 0.2) !important;
}

.wp-block.block-editor-block-list__block .directorist-range-slider-wrap .atbd-child {
  background-color: var(--color-primary);
}

.wp-block.block-editor-block-list__block .directorist-range-slider-wrap .atbd-current-value {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-dark);
  margin-bottom: 0;
}

.wp-block.block-editor-block-list__block .sticky {
  display: block;
}

.wp-block.block-editor-block-list__block .byline,
.wp-block.block-editor-block-list__block .updated:not(.published) {
  display: none;
}

.wp-block.block-editor-block-list__block .single .byline,
.wp-block.block-editor-block-list__block .group-blog .byline {
  display: inline;
}

.wp-block.block-editor-block-list__block .page-links {
  clear: both;
  padding: 20px 0;
  font-weight: 700;
}

.wp-block.block-editor-block-list__block .page-links .post-page-numbers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  height: 40px;
  min-width: 40px;
  margin: 3px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  color: var(--color-dark);
  background-color: #fff;
  line-height: normal;
}

.wp-block.block-editor-block-list__block .page-links .post-page-numbers.current, .wp-block.block-editor-block-list__block .page-links .post-page-numbers:hover {
  background-color: #fff !important;
  border-width: 1px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.wp-block.block-editor-block-list__block .comment-content a {
  word-wrap: break-word;
}

.wp-block.block-editor-block-list__block .bypostauthor {
  display: block;
}

.wp-block.block-editor-block-list__block .widget {
  margin: 0 0 40px;
}

.wp-block.block-editor-block-list__block .widget select {
  max-width: 100%;
}

.wp-block.block-editor-block-list__block .elementor-editor-active .elementor.elementor-edit-mode .elementor-element > .elementor-element-overlay {
  z-index: 999;
}

.wp-block.block-editor-block-list__block .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: var(--color-border-gray);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  font-size: 14px;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice {
  font-size: 12px;
  font-weight: 500;
  border: 0 none;
  padding: 0 8px;
  background-color: var(--color-bg-select2);
  border-radius: 4px;
  color: var(--color-white);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: var(--color-white);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: var(--color-white);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-selection {
  min-height: 46px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle {
  padding-right: 15px;
}

.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle i,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.fa,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.fas,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.far,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.fab,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.la,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.lab,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.lar,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-toggle span.las {
  font-size: 12px;
}

.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close i,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.fa,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.fas,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.far,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.fab,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.la,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.lab,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.lar,
.wp-block.block-editor-block-list__block .select2-container--default .directorist-select2-addons-area .directorist-select2-dropdown-close span.las {
  font-size: 12px;
}

.wp-block.block-editor-block-list__block .select2.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  height: auto;
  font-size: 14px;
}

.wp-block.block-editor-block-list__block .select2-container--default.select2-container--open .select2-dropdown--above,
.wp-block.block-editor-block-list__block .select2-container--default.select2-container--open .select2-dropdown--below {
  border: 0 none;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 30px rgba(143, 142, 159, 0.25);
          box-shadow: 0 5px 30px rgba(143, 142, 159, 0.25);
}

.wp-block.block-editor-block-list__block .select2-container--default.select2-container--open .select2-dropdown--above .select2-search__field,
.wp-block.block-editor-block-list__block .select2-container--default.select2-container--open .select2-dropdown--below .select2-search__field {
  border-radius: 6px;
  border-color: var(--color-border);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-dropdown {
  min-width: 200px;
  z-index: 10001;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results .select2-results__options .select2-results__option {
  font-size: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results .select2-results__options .select2-results__option[aria-selected=true] {
  background-color: #ddd;
  color: var(--color-dark);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
  color: var(--color-primary);
  background-color: transparent;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted:hover {
  color: var(--color-primary);
  background-color: transparent;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results .select2-results__options .select2-results__option[area-selected="true"] {
  background-color: #fff;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results .select2-results__options .directorist-icon-mask:after {
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-search--dropdown {
  padding: 14px 16px 10px 16px;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-search--dropdown .select2-search__field {
  border-width: 2px;
  padding: 4px 12px;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-search--dropdown .select2-search__field:focus {
  border-color: var(--color-dark);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results__option {
  padding: 6px 20px;
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results__option:hover span {
  color: var(--color-primary);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results__option span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-gray);
}

.wp-block.block-editor-block-list__block .select2-container--default .select2-results__option .theme-category-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.wp-block.block-editor-block-list__block .dropdown.theme-dropdown .dropdown-menu {
  right: 0 !important;
  left: auto !important;
  padding: 20px;
  border: 0 none;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 30px rgba(143, 142, 159, 0.25);
          box-shadow: 0 10px 30px rgba(143, 142, 159, 0.25);
}

.wp-block.block-editor-block-list__block .sticky-top {
  z-index: 1030;
}

/* Reboot Style  */
.wp-block.editor-post-title__block,
.wp-block.editor-block-list__block,
.wp-block.block-editor-block-list__block,
.block-editor-block-list__layout,
.block-editor-block-list__layout .wp-block {
  font-family: "Nunito Sans", sans-serif;
}

.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block body,
.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block input {
  font-size: 1.125rem;
}

.edit-post-visual-editor .editor-styles-wrapper {
  color: #51526e;
}

.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container p {
  color: #fff;
}

.editor-styles-wrapper .mce-item-table {
  margin-bottom: 20px;
}

.editor-styles-wrapper address {
  font-style: normal;
  line-height: 1.6;
}

.editor-styles-wrapper dl dt {
  font-weight: 600;
  color: #212529;
}

.block-editor-rich-text__editable strong {
  color: #1a1b29;
}

.wp-block-button a:not([href]):hover {
  color: unset;
}

.alignleft {
  float: left;
}

.aligncenter {
  margin: 0 auto;
}

/* Heading */
.block-editor-block-list__layout h1.wp-block.block-editor-block-list__block {
  margin: 0;
  line-height: 1.24;
  color: #1a1b29;
  font-size: 30px;
}

.block-editor-block-list__layout h2.wp-block.block-editor-block-list__block {
  margin: 0;
  line-height: 1.5;
  color: #1a1b29;
  font-size: 24px;
}

.block-editor-block-list__layout h3.wp-block.block-editor-block-list__block {
  margin: 0;
  color: #1a1b29;
  font-size: 22px;
}

.block-editor-block-list__layout h4.wp-block.block-editor-block-list__block {
  margin: 0;
  color: #1a1b29;
  font-size: 20px;
}

.block-editor-block-list__layout h5.wp-block.block-editor-block-list__block {
  margin: 0;
  color: #1a1b29;
  font-size: 18px;
}

.block-editor-block-list__layout h6.wp-block.block-editor-block-list__block {
  margin: 0;
  color: #1a1b29;
  font-size: 16px;
}

.block-editor-block-list__layout ol li a {
  color: var(--color-primary);
}

.block-editor-block-list__layout ol li a:hover {
  opacity: 0.7;
}

.block-editor-block-list__layout ul li a {
  color: #605f74;
}

.block-editor-block-list__layout ul li a:hover {
  color: var(--color-primary);
}

.edit-post-visual-editor .editor-styles-wrapper ul ul,
.edit-post-visual-editor .editor-styles-wrapper ol ul {
  list-style-type: unset;
}

.edit-post-visual-editor .editor-styles-wrapper ol,
.edit-post-visual-editor .editor-styles-wrapper ul {
  padding-left: 20px;
}

.editor-styles-wrapper kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.aligncenter {
  margin: 0 auto;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.alignleft {
  margin-right: 20px;
}

.editor-styles-wrapper a {
  color: #0d6efd;
}

.editor-styles-wrapper a:hover {
  color: #0d6efd;
}

.editor-styles-wrapper .wp-caption-dd {
  text-align: center;
}

.block-editor__container img.size-large {
  width: 100%;
}

.editor-styles-wrapper .block-editor-block-list__layout h1,
.editor-styles-wrapper .block-editor-block-list__layout h2,
.editor-styles-wrapper .block-editor-block-list__layout h3,
.editor-styles-wrapper .block-editor-block-list__layout h4,
.editor-styles-wrapper .block-editor-block-list__layout h5,
.editor-styles-wrapper .block-editor-block-list__layout h6 {
  font-weight: 600;
  margin: 0 0 0.5rem;
  line-height: 32px;
  color: #212529;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block ul.block-editor-block-list__block {
  margin-top: 1rem;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-list__block {
  margin-top: 0;
  margin-bottom: 0;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block .block-editor-block-list__block p {
  margin-bottom: 1rem;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block.has-background {
  color: #fff;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block.wp-block-site-tagline {
  margin-top: 0;
}

/* Wp Widget meta */
.widget.widget_meta > .widgettitle {
  padding-left: 0;
}

.widget.widget_meta ul {
  list-style: none;
  padding-left: 0;
}

.widget.widget_meta ul li a {
  color: #605f74;
}

/* Wp Block Preformatted */
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-preformatted {
  font-size: 14px;
  line-height: 28px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Wp Block Verse */
.block-editor-block-list__layout .block-editor-block-list__block.wp-block-verse {
  font-size: 14px;
  padding: 0;
}

.wp-block-verse {
  color: #605f74;
  line-height: 1.85714;
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: 14px !important;
}

.edit-post-visual-editor .editor-styles-wrapper ol.wp-block-latest-comments {
  padding-left: 0;
}

/* Wp block rss */
.wp-block-rss ul li:not(:last-child) {
  margin-bottom: 8px;
}

.wp-block-rss ul li a {
  font-size: 14px;
  line-height: 1.85714;
  color: #605f74;
}

.wp-block-rss ul li a:hover {
  color: var(--color-primary);
}

/* latest post */
.edit-post-visual-editor .editor-styles-wrapper ul.wp-block-latest-posts {
  padding-left: 0;
}

.wp-block-latest-posts__list li {
  color: var(--color-body);
}

.wp-block-latest-posts__list li:not(:last-child) {
  margin-bottom: 15px;
}

.wp-block-latest-posts__list li a {
  color: var(--color-gray) !important;
  line-height: 1.71429;
  font-size: 14px;
  text-decoration: none;
}

.wp-block-latest-posts__list li a:hover {
  color: var(--color-primary) !important;
}

/* Tags */
.wp-block-tag-cloud.wp-block-tag-cloud,
.widget_tag_cloud.wp-block-tag-cloud {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wp-block-tag-cloud.wp-block-tag-cloud a,
.widget_tag_cloud.wp-block-tag-cloud a {
  font-size: 13px !important;
  line-height: 2;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid var(--color-border-light);
  color: var(--color-light-gray);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.wp-block-tag-cloud.wp-block-tag-cloud a:hover,
.widget_tag_cloud.wp-block-tag-cloud a:hover {
  border-color: var(--color-primary);
}

/* Navigation menu */
.editor-styles-wrapper a.wp-block-navigation-item__content:hover > div {
  color: var(--color-primary);
}

/* Container */
.block-editor-block-list__layout.is-root-container {
  max-width: 1110px;
  margin: 0 auto;
}

.wp-block.editor-post-title__block,
.wp-block.editor-block-list__block,
.wp-block.block-editor-block-list__block,
.block-editor-block-list__layout,
.block-editor-block-list__layout .wp-block {
  max-width: 1110px;
}

/* widget area*/
.wp-block[data-type="core/widget-area"] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 24.10%;
  min-width: 350px;
}

/* categories */
.edit-post-visual-editor__content-area .wp-block-categories ul.wp-block-categories__list li a {
  padding-left: 0;
}

.edit-post-visual-editor__content-area .wp-block-categories ul.wp-block-categories__list li a:after, .edit-post-visual-editor__content-area .wp-block-categories ul.wp-block-categories__list li a:before {
  display: none;
}

.edit-post-visual-editor .editor-styles-wrapper ul.wp-block-archives {
  padding-left: 0;
}

.edit-post-visual-editor .editor-styles-wrapper ul.wp-block-archives li a {
  font-size: 14px;
  color: #1a1b29;
  line-height: 1.57143;
}

.wp-block-categories ul.wp-block-categories__list {
  list-style: none;
  padding-left: 0;
}

.wp-block-categories ul.wp-block-categories__list li:not(:last-child) {
  margin-bottom: 8px;
}

.wp-block-categories ul.wp-block-categories__list li a {
  font-size: 14px;
  padding-left: 15px;
  position: relative;
  color: #1a1b29;
  text-decoration: none;
}

.wp-block-categories ul.wp-block-categories__list li a:hover {
  color: var(--color-primary);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wp-block-categories ul.wp-block-categories__list li a:hover::after, .wp-block-categories ul.wp-block-categories__list li a:hover::before {
  border-color: var(--color-primary);
}

.wp-block-categories ul.wp-block-categories__list li a:before, .wp-block-categories ul.wp-block-categories__list li a:after {
  position: absolute;
  top: 11px;
  color: #8f8e9f;
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
  content: "";
  position: absolute;
  width: 7px;
  border: 1px solid #8f8e9f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
}

.wp-block-categories ul.wp-block-categories__list li a:before {
  content: "";
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  top: 7px;
}

/* Wp block social  */
/* Social Icon */
.wp-block-social-links.is-style-default {
  gap: 7px;
}

.wp-block-social-links.is-style-default li {
  height: 38px;
  width: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-default li.wp-block-social-link:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wp-block-social-links.is-style-default li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-default li a svg {
  fill: var(--color-white);
  width: 18px;
  height: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-default li.wp-social-link-facebook {
  background-color: var(--color-facebook);
}

.wp-block-social-links.is-style-default li.wp-social-link-facebook:hover {
  background-color: rgba(var(--color-facebook-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-facebook:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-facebook:hover span {
  color: var(--color-facebook);
}

.wp-block-social-links.is-style-default li.wp-social-link-facebook:hover svg {
  fill: var(--color-facebook);
}

.wp-block-social-links.is-style-default li.wp-social-link-twitter {
  background-color: var(--color-twitter);
}

.wp-block-social-links.is-style-default li.wp-social-link-twitter:hover {
  background-color: rgba(var(--color-twitter-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-twitter:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-twitter:hover span {
  color: var(--color-twitter);
}

.wp-block-social-links.is-style-default li.wp-social-link-twitter:hover svg {
  fill: var(--color-twitter);
}

.wp-block-social-links.is-style-default li.wp-social-link-youtube {
  background-color: var(--color-youtube);
}

.wp-block-social-links.is-style-default li.wp-social-link-youtube:hover {
  background-color: rgba(var(--color-youtube-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-youtube:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-youtube:hover span {
  color: var(--color-youtube);
}

.wp-block-social-links.is-style-default li.wp-social-link-youtube:hover svg {
  fill: var(--color-youtube);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram {
  background-color: var(--color-instagram);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover {
  background-color: rgba(var(--color-instagram-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover span {
  color: var(--color-instagram);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover svg {
  fill: var(--color-instagram);
}

.wp-block-social-links.is-style-default li.wp-social-link-linkedin {
  background-color: var(--color-linkedin);
}

.wp-block-social-links.is-style-default li.wp-social-link-linkedin:hover {
  background-color: rgba(var(--color-linkedin-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-linkedin:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-linkedin:hover span {
  color: var(--color-linkedin);
}

.wp-block-social-links.is-style-default li.wp-social-link-linkedin:hover svg {
  fill: var(--color-linkedin);
}

.wp-block-social-links.is-style-default li.wp-social-link-pinterest {
  background-color: var(--color-pinterest);
}

.wp-block-social-links.is-style-default li.wp-social-link-pinterest:hover {
  background-color: rgba(var(--color-pinterest-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-pinterest:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-pinterest:hover span {
  color: var(--color-pinterest);
}

.wp-block-social-links.is-style-default li.wp-social-link-pinterest:hover svg {
  fill: var(--color-pinterest);
}

.wp-block-social-links.is-style-default li.wp-social-link-rss {
  background-color: var(--color-rss);
}

.wp-block-social-links.is-style-default li.wp-social-link-rss:hover {
  background-color: rgba(var(--color-rss-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-rss:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-rss:hover span {
  color: var(--color-rss);
}

.wp-block-social-links.is-style-default li.wp-social-link-rss:hover svg {
  fill: var(--color-rss);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram {
  background-color: var(--color-instagram);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover {
  background-color: rgba(var(--color-instagram-rgba), 0.2);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover i,
.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover span {
  color: var(--color-instagram);
}

.wp-block-social-links.is-style-default li.wp-social-link-instagram:hover svg {
  fill: var(--color-instagram);
}

.wp-block-social-links.is-style-logos-only li.wp-social-link a,
.wp-block-social-links.is-style-logos-only li.wp-social-link button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-logos-only li.wp-social-link a svg,
.wp-block-social-links.is-style-logos-only li.wp-social-link button svg {
  width: 22px;
  height: 22px;
}

.wp-block-social-links.is-style-pill-shape {
  gap: 7px;
}

.wp-block-social-links.is-style-pill-shape li {
  height: 30px;
  min-width: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-pill-shape li.wp-block-social-link:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.wp-block-social-links.is-style-pill-shape li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-pill-shape li a svg {
  fill: var(--color-white);
  width: 16px;
  height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-facebook {
  background-color: var(--color-facebook);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-facebook:hover {
  background-color: rgba(var(--color-facebook-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-facebook:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-facebook:hover span {
  color: var(--color-facebook);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-facebook:hover svg {
  fill: var(--color-facebook);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-twitter {
  background-color: var(--color-twitter);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-twitter:hover {
  background-color: rgba(var(--color-twitter-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-twitter:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-twitter:hover span {
  color: var(--color-twitter);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-twitter:hover svg {
  fill: var(--color-twitter);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-youtube {
  background-color: var(--color-youtube);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-youtube:hover {
  background-color: rgba(var(--color-youtube-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-youtube:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-youtube:hover span {
  color: var(--color-youtube);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-youtube:hover svg {
  fill: var(--color-youtube);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram {
  background-color: var(--color-instagram);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover {
  background-color: rgba(var(--color-instagram-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover span {
  color: var(--color-instagram);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover svg {
  fill: var(--color-instagram);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-linkedin {
  background-color: var(--color-linkedin);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-linkedin:hover {
  background-color: rgba(var(--color-linkedin-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-linkedin:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-linkedin:hover span {
  color: var(--color-linkedin);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-linkedin:hover svg {
  fill: var(--color-linkedin);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-pinterest {
  background-color: var(--color-pinterest);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-pinterest:hover {
  background-color: rgba(var(--color-pinterest-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-pinterest:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-pinterest:hover span {
  color: var(--color-pinterest);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-pinterest:hover svg {
  fill: var(--color-pinterest);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-rss {
  background-color: var(--color-rss);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-rss:hover {
  background-color: rgba(var(--color-rss-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-rss:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-rss:hover span {
  color: var(--color-rss);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-rss:hover svg {
  fill: var(--color-rss);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram {
  background-color: var(--color-instagram);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover {
  background-color: rgba(var(--color-instagram-rgba), 0.2);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover i,
.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover span {
  color: var(--color-instagram);
}

.wp-block-social-links.is-style-pill-shape li.wp-social-link-instagram:hover svg {
  fill: var(--color-instagram);
}

/* Wp Block table */
.wp-block-table.block-editor-block-list__block table {
  border: 1px solid;
}

/* Wp BLock archives */
ul.wp-block-archives {
  padding-left: 0;
  list-style: none;
}

/* Wp Block Quote */
.block-editor-block-list__layout .wp-block-quote P {
  position: relative;
}

.block-editor-block-list__layout .wp-block-quote a {
  color: var(--color-primary);
}

.block-editor-block-list__layout .wp-block-quote strong em a {
  font-size: calc(1.0375rem + 0.45vw);
}

@media (min-width: 1200px) {
  .block-editor-block-list__layout .wp-block-quote strong em a {
    font-size: 1.375rem;
  }
}

.block-editor-block-list__layout .wp-block-quote .wp-block-quote__citation {
  font-style: normal;
  position: relative;
  line-height: 1;
  font-weight: 400;
  color: #5c637e;
}

.block-editor-block-list__layout .wp-block-quote .wp-block-quote__citation br {
  display: none;
}

.block-editor-block-list__layout .wp-block-quote.is-style-large .block-editor-rich-text__editable p {
  font-size: calc(1.05rem + 0.6vw);
  font-style: italic;
  line-height: 1.6;
}

@media (min-width: 1200px) {
  .block-editor-block-list__layout .wp-block-quote.is-style-large .block-editor-rich-text__editable p {
    font-size: 1.5rem;
  }
}

.block-editor-block-list__layout .wp-block-quote.is-style-large .wp-block-quote__citation {
  font-size: calc(1.0125rem + 0.15vw);
  text-align: left;
}

@media (min-width: 1200px) {
  .block-editor-block-list__layout .wp-block-quote.is-style-large .wp-block-quote__citation {
    font-size: 1.125rem;
  }
}

.block-editor-block-list__layout .wp-block-quote.is-style-large.has-text-align-right .wp-block-quote__citation {
  text-align: right;
}

.block-editor-block-list__layout .wp-block-quote.is-style-default .wp-block-quote__citation {
  font-size: 16px;
}

.block-editor-block-list__layout .wp-block-quote.is-style-default.is-large {
  border-left: 0.25em solid var(--color-primary);
}

.block-editor-block-list__layout .wp-block-quote.is-style-default.is-large .block-editor-rich-text__editable p {
  font-size: calc(1.05rem + 0.6vw);
  font-style: italic;
  line-height: 1.6;
}

@media (min-width: 1200px) {
  .block-editor-block-list__layout .wp-block-quote.is-style-default.is-large .block-editor-rich-text__editable p {
    font-size: 1.5rem;
  }
}

.block-editor-block-list__layout .wp-block-quote.is-style-default.is-large .wp-block-quote__citation {
  font-size: calc(1.0125rem + 0.15vw);
}

@media (min-width: 1200px) {
  .block-editor-block-list__layout .wp-block-quote.is-style-default.is-large .wp-block-quote__citation {
    font-size: 1.125rem;
  }
}

.block-editor-block-list__layout .wp-block-quote.has-text-align-right .wp-block-quote__citation {
  padding-left: 0;
  padding-right: 32px;
}

.block-editor-block-list__layout .wp-block-quote.has-text-align-right .wp-block-quote__citation:before {
  left: auto;
  right: 0;
}

/* Wp Block Button  */
.wp-block-search__button {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #ffffff;
}

.block-editor-block-list__layout .wp-block-button .wp-block-button__link {
  background-color: var(--color-primary);
  color: #fff;
}

.block-editor-block-list__layout .wp-block-button.is-style-outline .wp-block-button__link {
  background-color: transparent;
  color: var(--color-primary);
}

.edit-post-visual-editor .editor-styles-wrapper ul,
.edit-post-visual-editor .editor-styles-wrapper ol {
  margin-left: 0;
}

.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover, .editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.active {
  color: #ffffff !important;
}

/* Wp Block pullquote */
.wp-block-pullquote:not(.has-text-color) p {
  color: #51526e;
}

.wp-block-pullquote:not(.has-text-color) cite {
  color: #8f8e9f;
}

.block-editor-block-list__layout .wp-block-pullquote {
  padding: 55px 0 55px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.block-editor-block-list__layout .wp-block-pullquote blockquote {
  margin-bottom: 0;
  margin-top: 0;
}

.block-editor-block-list__layout .wp-block-pullquote.block-editor-block-list__block {
  border-color: var(--color-primary);
}

.block-editor-block-list__layout .wp-block-pullquote.block-editor-block-list__block p {
  font-size: inherit;
  line-height: 1.6;
}

.block-editor-block-list__layout .wp-block-pullquote.block-editor-block-list__block.alignleft {
  margin-right: 15px;
}

.block-editor-block-list__layout .wp-block-pullquote.block-editor-block-list__block.alignleft p {
  font-size: inherit;
}

.block-editor-block-list__layout .wp-block-pullquote.block-editor-block-list__block.alignright {
  margin-left: 15px;
}

.block-editor-block-list__layout .wp-block-pullquote.block-editor-block-list__block.alignright p {
  font-size: inherit;
}

.block-editor-block-list__layout .wp-block-pullquote + p {
  min-height: 200px;
}

.block-editor-block-list__layout .block-library-rich-text__tinymce blockquote cite a {
  color: var(--color-primary);
}

.block-editor-block-list__layout .block-library-rich-text__tinymce blockquote cite a:hover {
  color: var(--color-primary);
}

blockquote p a {
  color: var(--color-primary) !important;
}

/* Wp Block Quote */
.wp-block-quote.block-editor-block-list__block.is-large .block-editor-rich-text__editable p {
  font-size: calc(1.05rem + 0.6vw);
  line-height: 1.6;
}

@media (min-width: 1200px) {
  .wp-block-quote.block-editor-block-list__block.is-large .block-editor-rich-text__editable p {
    font-size: 1.5rem;
  }
}

.wp-block-quote.block-editor-block-list__block.has-text-align-left {
  border-left: 0.25em solid var(--color-primary);
}

.wp-block-quote.block-editor-block-list__block.has-text-align-left .wp-block-quote__citation {
  text-align: left;
}

/* Wp Block Image */
.wp-block-image + h3 {
  margin-bottom: 15px;
}

.wp-block-image figcaption {
  font-size: 13px;
}

.wp-block[data-align="center"] .wp-block-image figcaption {
  text-align: center;
}

/* wp cover */
.wp-block-cover.alignleft {
  float: left;
  margin-right: 2em;
  /*!rtl:end:ignore*/
}

.editor-styles-wrapper a {
  cursor: pointer;
  text-decoration: underline;
}

.block-editor-block-list__block.wp-block-gallery {
  gap: 0.5em !important;
}

.block-editor-block-list__block.wp-block-gallery.alignleft {
  max-width: 420px;
  margin-right: 2em;
}

/* wp calendar */
.wp-block-calendar .wp-calendar-nav-prev a {
  color: #0d6efd;
}

.wp-block-calendar .wp-calendar-nav-prev a:hover {
  color: #0d6efd;
}

.wp-block-calendar table caption {
  padding-bottom: 10px;
}

/* Wp image gallery with caption */
.wp-block-cover-image.is-light .wp-block-cover__inner-container,
.wp-block-cover.is-light .wp-block-cover__inner-container {
  color: #ffff;
}

/* Wp tag */
.wp-block-tag-cloud a {
  color: #605f74;
  line-height: 1.6875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wp-block-tag-cloud a:hover {
  color: var(--color-primary);
}

/* Wp block list */
.block-editor-block-list__block select {
  border-radius: 3px !important;
  color: #565865 !important;
  background-color: #fff !important;
  border: 1px solid #e9ebf4 !important;
}

/* Wp post visual editor */
.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block body,
.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block,
.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block input,
.edit-post-visual-editor__content-area .block-editor-block-list__layout a,
.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block p {
  line-height: 1.59375;
}

.edit-post-visual-editor__content-area .wp-block.block-editor-block-list__block.wp-block-paragraph {
  line-height: 1.25;
}

/* Wp page list */
.wp-block.block-editor-block-list__block.wp-block-page-list {
  padding: 0;
}

.wp-block.block-editor-block-list__block.wp-block-page-list ul {
  padding: 0;
  margin-top: 15px;
}

.wp-block.block-editor-block-list__block.wp-block-page-list li {
  list-style: none;
}

.wp-block.block-editor-block-list__block.wp-block-page-list li:not(:last-child) {
  margin-bottom: 20px;
}

.wp-block.block-editor-block-list__block.wp-block-page-list li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 400;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

/* Wp clock cover */
.wp-block-cover strong {
  font-weight: 600;
}

/* Wp Block Separator */
.wp-block-separator {
  border-bottom: 1px solid #000000;
  opacity: 1;
}

.has-background-dim.block-editor-block-list__block .block-editor-block-list__layout a {
  color: #fff;
}

/* Wp code */
code {
  font-size: .875em;
  color: #d63384 !important;
  word-wrap: break-word;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
  border-left: 0 none;
  padding-left: 0;
}

/* wp block archives */
.wp-block-archives .wp-block-archives-list li:not(:last-child) {
  margin-bottom: 15px;
}

.wp-block-archives .wp-block-archives-list li a {
  color: #605f74;
  text-decoration: none;
}

.wp-block-archives .wp-block-archives-list li a:hover {
  color: var(--color-primary);
}

/* Block search */
.wp-block-search__button-outside .wp-block-search__input {
  padding: 0 20px;
  border-color: var(--color-border);
  font-size: 14px;
  font-weight: 400;
  min-height: 48px;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light-gray);
  background-color: transparent;
}

.wp-block-search__button-outside .wp-block-search__input:focus {
  outline: none;
}

.wp-block-search__button-outside .wp-block-search__button {
  fill: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  padding: 10px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.wp-block-search__button-outside .wp-block-search__button.has-icon svg {
  color: var(--color-white);
}

/* Comment Block */
.wp-block.block-editor-block-list__block .wp-block-latest-comments__comment-meta a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-light-gray);
}

.wp-block.block-editor-block-list__block .wp-block-latest-comments__comment-meta a:hover {
  color: var(--color-primary);
}

/* Widget audio block */
.wp-block-audio audio {
  min-width: 200px;
}
